body{

}

#header{
  height: 80px;
}


.navbar-brand {
  height: 129px;
}

.nav {
   padding-top: 45px;
}


.navbar {
  margin-bottom: 5px;
}


#letras {
  color: #0874cc;
  background-color: #f8f8f8;
  border: 2px solid #f8f8f8;

}

#letras:hover {
  background-color: #f8f8f8;
  color: black;
  border: 2px solid #0874cc;
  border-radius: 10px;
}

#menu {
  font-size: 16px;
  font-family:'Oswald';
}

.btn-menu{

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}



.btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-primary {
  background-color: #21b903;
  border: 2px solid #21b903;
}


.btn-primary:hover {
  background-color: #f8f8f8;
    color: black;
    border: 2px solid #21b903;
}

#log {
  margin-left: 20px;
}

#registra {
  margin-left: 20px;
}

.btn-primary {
  background-color: #21b903;
  border: 2px solid #21b903;
}


.btn-primary:hover {
  background-color: #f8f8f8;
    color: black;
    border: 2px solid #21b903;
}

#log {
  margin-left: 20px;
  margin-top: 10px;
}

#registra {
  margin-left: 20px;
  margin-top: 10px;
}

@media (max-width: 890px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .container{
      width: 100%;
    }
}
}

/*botones busca*/

#busca {
  height: 450px;
  margin-top: 155px;
  margin-bottom: 5px;
}

.button {
  padding: 0px 0px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #f6f9fa;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #01457c;
}

.button:hover {background-color: #91aec5}

.button:active {
  background-color: #91aec5;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.parquimetro {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.texto {
  padding-left: 15px;
  font-size: 18px;
  font-family: 'Oswald';
}

.titulos {
  font-family: 'Oswald';
  font-size: 28px;
  padding-top: 10px;
  color: #0874cc;
  text-shadow: 1px 1px 2px #033965;
}

.estacionamiento{
  padding-left: 50px;
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.zonas {
  padding-left: 50px;
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#mapa {
}

#lugares{
  text-align: center;
  color: #0874cc;
}

@media only screen and (max-width: 768px){
  #busca{
    height: 500px;
  }
}


  @media only screen and (max-width: 768px){
    #mapa{
      margin-top: 20px;
      width: 20px;
    }
  }
/*Botones busca*/

/* Cómo funciona*/

#pasos {
background: #e7e7e7;
margin-top: 20px;
}

#barra {
  text-align: center;
  height: 40px;
  font-family: 'Oswald';
  font-size: 28px;
  padding-top: 2px;
  color: #0874cc;
  text-shadow: 1px 1px 2px #012b4d;

}

/* Cómo funciona*/

/* Imágenes cómo funcina*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1477 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  margin-left: 12px;
  min-width: 230px;
  max-width: 415px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1477 *,
figure.snip1477 *:before,
figure.snip1477 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1477 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.snip1477 .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.snip1477 .title:before,
figure.snip1477 .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1477 .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1477 .title div:before,
figure.snip1477 .title div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1477 .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1477 .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.snip1477 h2,
figure.snip1477 h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.snip1477 h2 {
  font-weight: 400;
}
figure.snip1477 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.snip1477 figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.snip1477 figcaption p {
  margin: 0;
}
figure.snip1477 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1477:hover img,
figure.snip1477.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after,
figure.snip1477:hover .title div:before,
figure.snip1477.hover .title div:before,
figure.snip1477:hover .title div:after,
figure.snip1477.hover .title div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1477:hover .title:before,
figure.snip1477.hover .title:before,
figure.snip1477:hover .title:after,
figure.snip1477.hover .title:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
figure.snip1477:hover figcaption,
figure.snip1477.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/*Imágenes cómo funcina*/

/*Formas de pago*/

#pago {
  height: 350px;
  background-color: #0874cc;
  text-align: center;
  font-family: 'Oswald';
  font-size: 28px;
  padding-top: 10px;
  color: #e7e7e7;
  text-shadow: 1px 1px 2px #033965;
}

#formas {
width: 250px;
height: 250px;
}


.contenedor {

}

.iconos {
  width: 30px;
}

.overlay {
  position: absolute;
  top: 30px;
  bottom: 0;
  left: 128px;
  right: 0;
  height: 76%;
  width: 43%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0874cc;
  border: 2px solid #ffffff;
  border-radius: 20%;
}

.contenedor:hover .overlay {
  opacity: 1;
}

.exp {
  color: white;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-shadow: 0px 0px 0px;
  font-family: 'Oswald';
  text-shadow: 1px 1px 2px #033965;
  width: 80%;
}



@media only screen and (max-width: 768px){
  #formas{
    height: 20%;
    width: 20%;
  }
  #pago {
    height: 500px;
  }
}

/*Formas de pago*/
#faqs{
  height: 400px;
  background-color: #e7e7e7;
  text-align: center;
  font-family: 'Oswald';
  font-size: 28px;
  padding-top: 2px;
  color: #0874cc;
  text-shadow: 1px 1px 2px #033965;
}


/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #cecece;
    color: #0874cc;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: 'Oswald';
    font-size: 20px;
    margin-bottom: 5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding-right:100px;
    background-color: white;
    display: none;
    width: 80%;
    text-shadow: 0px 0px 0px;
    font-size: 18px;
    color: black;
    font-family: 'Oswald';
    margin-left: 143px;
    text-align: center;
}

.glyphicon {
padding-left: 20px;
}



/*a partir de aquí le movió Karen*/

#footer{
  background-color: #0874cc;
  background-image: url(img/calle3.png);
  height: 90px;
  padding: 30px;
  padding-left: 160px;
  padding-top: 20px;

}
.final{
  color: black;
  font-family: 'Oswald'
  font-size: 30px;
}
.final:hover{

.accordion {
  margin-top: 10px;
}

.iconos{
  height: 50px;
  width: 50px;

}

#fin{

  height: 30px;
  text-align: center;
  background-color: #36d6f1;

}
h6{
  font-size: 15px;
  color: black;
  font-family: 'Oswald';

}
.link-nav{
  float: left
}

/*hasta aquí*/


/*parquimetro*/

.horas{
  height: 300px;
}
