/*inicio header*/

#header{
  height: 80px;
}


.navbar-brand {
  height: 129px;
}

.nav {
   padding-top: 45px;
}


.navbar {
  margin-bottom: 5px;
}


#letras {
  color: #0874cc;
  background-color: #f8f8f8;
  border: 2px solid #f8f8f8;

}

#letras:hover {
background-color: #f8f8f8;
  color: black;
  border: 2px solid #0874cc;
}

#menu {
  font-size: 14px;
  font-family: 'Oswald';
}

.btn-menu{

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}



.btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-primary {
  background-color: #21b903;
  border: 2px solid #21b903;
}


.btn-primary:hover {
  background-color: #f8f8f8;
    color: black;
    border: 2px solid #21b903;
}

#log {
  margin-left: 20px;
}

#registra {
  margin-left: 20px;
}

.btn-primary {
  background-color: #21b903;
  border: 2px solid #21b903;
}


.btn-primary:hover {
  background-color: #f8f8f8;
    color: black;
    border: 2px solid #21b903;
}

#log {
  margin-left: 20px;
}

#registra {
  margin-left: 20px;
}

/* fin header*/

/*inicio parquimetro*/

#mapa{
  padding: 20px;
  margin: 20px;
}
/*estilo cronometro*/
.cronometro{


}
/*cronometro*/
*{
	margin: 0;
	padding: 0;

}
#contenedor{
	margin: 10px auto;
	width: 600px;
	height: 200px;


}
.reloj{

	float: left;
	font-size: 80px;
	font-family: Courier,sans-serif;
	color: #363431;
  text-align: center;
}

.boton{
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 128px;
	height: 30px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background-image: linear-gradient(#3aad02,#2c6f05);

}
.boton:active{
	background-image: linear-gradient(#2c6f05,#3aad02);

}
.boton:hover{
	box-shadow: 0px 0px 14px #3aad02;
}
/*fin cronometro*/
.opciones{
    text-align: center;
    color: #0874cc;
    font-size: 20px;
    padding: 20px;
}
#opciones1{
  text-align: center;
  padding: 20px;
}
/*fin parquimetro*/

h1{
  color: #0874cc;
  text-align: center;
  font-size: 50px;
  font-family: 'Oswald';
  padding: 20px;
}

/*inicio del footer*/

  #footer{
  background-color: #0874cc;
  background-image: url(img/calle3.png);
  height: 90px;
  padding: 30px;
  padding-left: 160px;
  padding-top: 20px;

}


.iconos{
  height: 50px;
  width: 50px;

}
.final{
  color: black;
  font-size: 20px;
  font-family: 'Oswald'
}
.final:hover{
  color: white;
}

#fin{
  clear: both;
  height: 30px;
  text-align: center;
  background-color: #36d6f1;

}
h6{
  font-size: 15px;
  color: black;
  font-family: 'Oswald';
}
.link-nav{
  float: left
}
/*fin del footer*/
