/*inicio header*/

#header{
  height: 80px;
}


.navbar-brand {
  height: 129px;
}

.nav {
   padding-top: 45px;
}


.navbar {
  margin-bottom: 5px;
}


#letras {
  color: #0874cc;
  background-color: #f8f8f8;
  border: 2px solid #f8f8f8;

}

#letras:hover {
background-color: #f8f8f8;
  color: black;
  border: 2px solid #0874cc;
}

#menu {
  font-size: 14px;
  font-family: 'Oswald';
}

.btn-menu{

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}



.btn {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-primary {
  background-color: #21b903;
  border: 2px solid #21b903;
}


.btn-primary:hover {
  background-color: #f8f8f8;
    color: black;
    border: 2px solid #21b903;
}

#log {
  margin-left: 20px;
}

#registra {
  margin-left: 20px;
}

.btn-primary {
  background-color: #21b903;
  border: 2px solid #21b903;
}


.btn-primary:hover {
  background-color: #f8f8f8;
    color: black;
    border: 2px solid #21b903;
}

#log {
  margin-left: 20px;
}

#registra {
  margin-left: 20px;
}

/* fin header*/



/*inicio del footer*/

  #footer{
  background-color: #0874cc;
  background-image: url(img/calle3.png);
  height: 90px;
  padding: 30px;
  padding-left: 160px;
  padding-top: 20px;

}
.final{
  color: black;
  font-size: 20px;
  font-family: 'Oswald'
}
.final:hover{

    color: white;
  }

.iconos{
  height: 50px;
  width: 50px;

}

#fin{

  height: 30px;
  text-align: center;
  background-color: #36d6f1;

}
h6{
  font-size: 15px;
  color: black;
  font-family: 'Oswald';
}
.link-nav{
  float: left
}
/*fin del footer*/
